@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #fff;
    --white: #292929;
    
    // --black: #000;
    --black2: #000;
    // --white: #fff;
    --white2: #fff;
    --background1: #FF574D;
    --background2: #FF556C;
    --inputColor: #F2EEF4;
    --darkness: rgba(0, 0, 0, 0.342);

    //? Fontes
    --font_first: 'Montserrat', sans-serif;
    --font_second: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: var(--font_first);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.4s ease-in-out;

    div#container_btn_theme {
        width: 90px;
        height: 30px;
        background-color: var(--white);
        border-radius: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        border: 1px solid var(--background2);
        transition: all 0.4s ease-in-out;

        div#container_icon_theme {
            width: 30px;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            transition: left 0.6s ease-in-out;
            left: 0;

            &.Dark_Active {
                left: calc(100% - 30px);
                animation: 0.6s animationBtn ease-in-out;
            }

            &.Light_Active {
                animation: 0.6s animationBtn2 ease-in-out;
            }

            @keyframes animationBtn {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            @keyframes animationBtn2 {
                0% {
                    transform: rotate(360deg);
                }

                100% {
                    transform: rotate(-0deg);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @keyframes identifier {
                
            }
        }
    }

    main {
        width: 95%;
        max-width: 1000px;
        height: 600px;
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: -2px 10px 15px var(--darkness);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

        div#background_orange {
            width: 50%;
            height: 100%;
            background-image: linear-gradient(var(--background1), var(--background2));
            position: absolute;
            transition: all 0.6s ease-in-out;
            z-index: 3;
            overflow: hidden;

            &.left {
                left: 0;
            }

            &.right {
                left: 50%;
            }

            div#container_background_orange {
                width: 200%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: -100%;
                transition: all 0.6s ease-in-out;

                section {
                    width: 90%;
                    color: var(--white2);
                    text-align: center;
                    background-color: transparent;
                    position: relative;
                    
                    &#text_createAccount {
                        // display: none;
                    }
    
                    button {
                        width: auto;
                        padding: 15px 20px;
                        color: var(--white2);
                        background: transparent;
                        border: 1px solid var(--white2);
                        cursor: pointer;
                        border-radius: 20px;
                        margin: 30px auto;
                    }
                }
            }
        }

        div.bakground_sections {
            width: 50%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-color: var(--white);
            transition: all 0.4s ease-in-out;

            &#background_signIn {
                z-index: 2;
                left: 0;
            }

            &#background_CreatAcoonout {
                right: 0;
            }
        }

        section {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            // background-color: #fff;
            position: absolute;
            transition: left 0.6s ease-in-out;
            z-index: 2;

            &#container_signIn {
                left: 0;
            }

            &#container_CreatAcoonout {
                left: 0;
                z-index: 1;
            }

            h1 {
                font-size: 3em;
                font-weight: 800;   
            }
            
            form {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center; 
                gap: 20px;

                input {
                    width: calc(100% - 30px);
                    padding: 20px 15px;
                    background-color: var(--inputColor);
                    border: none;
                    border-radius: 20px;
                }

                p {
                    text-align: center;
                }

                button {
                    width: auto;
                    padding: 15px 20px;
                    color: var(--white2);
                    background-image: linear-gradient(var(--background1), var(--background2));
                    border: none;
                    cursor: pointer;
                    border-radius: 20px;
                    margin: 30px auto;
                }
            }
        }
    }
}