* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    background-image: url('../Imgs/aa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;

    // display: flex;
    // align-items: center;
    // justify-content: center;

    div.container_error {
        width: 95%;
        max-width: 500px;
        height: auto;
        background-color: white;
        color: black;
        position: fixed;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
        
        span {
            color: rgba(0, 0, 0, 0.459);
            display: block;
            margin: 10px;
        }

        button.x {
            font-size: 1.5em;
            position: absolute;
            right: 10px;
            top: 10px;
            margin: 0;
            color: rgba(0, 0, 0, 0.356);
            cursor: pointer;
            border: none;
            background-color: transparent;
        }

        div.container_main_error {
            
            div.conatiner_text_error {
                display: flex;
                gap: 10px;
                margin: 30px 10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            div.container_button {
                width: calc(100% - 30px);
                padding: 15px;
                background-color: rgba(0, 0, 0, 0.075);
                display: flex;
                align-items: center;
                justify-content: right;

                button {
                    padding: 2px 30px;
                    box-shadow: 1px 1px 1px rgb(0, 0, 0);
                    border: 1px solid rgba(0, 0, 0, 0.11);
                    cursor: pointer;

                    &:active {
                        transition: all 0.1s ease-in-out;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}